<div class="bg-light py-3">
      <div class="container">
        <div class="row">
		
          <div class="col-md-12 mb-0">
		  {% if category %}
		  	<a href="{% url 'index' %}">Home</a>
			  <span class="mx-2 mb-0">/</span>
		  	<a href="{% url 'store:allProdCat' %}">Store</a> 
			  <span class="mx-2 mb-0">/</span> 
			  <strong class="text-black">{{category.name}}</strong>
		  {% else %}
		  <a href="{% url 'index' %}">Home</a>
		  <span class="mx-2 mb-0">/</span>
		  <a href="{% url 'store:allProdCat' %}">Store</a> 
		  {% endif %}
		</div>
        
		</div>
      </div>
    </div>