  <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-6 mb-5 mb-lg-0 text-center">
            <div class="container">
              <h3 class="footer-heading mb-4">Navigation</h3>
              <ul class="list-unstyled">
                <li><a href="{% url 'index' %}">Sell online</a></li>
                
                {% for cat in links %}
                <li><a href="{{cat.get_url}}">{{cat.name}}</a></li>
               {% endfor %}
              </ul>
            </div>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0 text-center">
            <div class="container">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake Street, Boston, MA, USA</li>
                <li class="phone"><a href="tel://23923929210">1-603-617-0420</a></li>
                <li class="email">pigeon@coupsupply.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
          
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Coup Supply 
         
            </p>
          </div>
          
        </div> 
    </div>
  </footer>