
<header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form class="form-inline my-2 my-lg-0" action="{% url 'searchstore:searchResult' %}" method="get">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="{% url 'index' %}" class="js-logo-clone">Coup Supply</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon icon-person"></span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'order:order_history' %}">History</a>
                        <a href="javascript:{document.getElementById('logout').submit()}" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                           {% csrf_token %}
                            <input type="hidden">
                        </form>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">{{user.username}} is Awesome!</a>
                    </div>
                  </li>
                  {% else %}
                   <li><a href="{% url 'register' %}">Register</span></a></li>
                   <li><a href="{% url 'login' %}">Login</span></a></li>
                  {% endif %}
                  {% if item_count > 0 %}
                  <li>
                    <a href="{% url 'cart:cart_detail' %}" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">{{item_count}}</span>
                    </a>
                  </li>
                  {% else %}
                     <li>
                        <a href="{% url 'store:allProdCat' %}" class="site-cart">
                          <span class="icon icon-shopping_cart"></span>
                          <span class="count">0</span>
                        </a>
                      </li>


                  {% endif %}
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="active">
              <a href="{% url 'index' %}">Home</a>
            </li>
           <li class="{% if 'store' in request.path %}active{% endif %}"><a href="{% url 'store:allProdCat' %}">Shop</a></li>

              {% for cat in links %}
             <li><a href="{{cat.get_url}}">{{cat.name}}</a></li>
              {% endfor %}
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>