{% extends "base.html" %}
{% load static %}
{% block metadescription %}
	We have a variety of bird products for all your bird needs
{% endblock %}
{% block title %}
	Search - Coup Supply Bird Store
{% endblock %}
{% block content %}
	<div>
		<p class="text-center my_search_text">You have searched for: <b>"{{ query }}"</b></p>
	</div>
	<div class="container">
		<div class="row mx-auto">
			{% for product in products %}
				<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                	<figure class="block-4-image">
                    	<a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}" class="img-fluid pro-img"></a>
                  	</figure>
                  	<div class="block-4-text p-4">
                    	<h3><a href="{{product.get_url}}">{{product.name| truncatechars:15}}</a></h3>
                    	<p class="mb-0">{{product.description| truncatechars:25}}</p>
                    	<p class="text-primary font-weight-bold">${{product.price}}</p>
                  	</div>
                	</div>
              	</div>
				{% empty %}
				<div class="row mx-auto">
					<p class="text-center my_search_text">0 results found.</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}