{% extends "base.html" %}
{% load static %}

{% block metadescription %}
	{% if category %}
		{{ category.description|truncatewords:155 }}
	{% else %}
		Welcome to Coup Supply.
	{% endif %}
{% endblock %}
{% block title %}
	{% if category %}
		{{ category.name }} - Coup Supply
	{% else %}
		See Our Products - Coup Supply
	{% endif %}
{% endblock %}

{% block content %}



    <div class="container">
       <ul>
		    <li class="">
				<a class="nav-link" href="{% url 'store:allProdCat' %}">All Products</a>
            </li>
			{% for cat in links %}
            <li>
                <a class="nav-link" href="{{cat.get_url}}">{{cat.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

	    <div class="container">
            {% if category %}
				<p><a href="{% url 'store:allProdCat' %}">Coup Supply</a> | {{category.name}}</p>
			{% else %}
				<p><a href="{% url 'store:allProdCat' %}">Coup Supply</a></p>
			{% endif %}
    	</div>
   			
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-5">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{product.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{ product.description|truncatewords:25}}...</p>
                             <a href="{{product.get_url}}" class="btn btn-primary">Learn more</a> 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}
